   <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <div class="top-bar-area inline inc-border">
        <div class="container">
            <div class="row">
                <div class="col-md-8 address-info text-left">
                    <div class="info box">
                        <ul>
                            <li>
                                <i class="fas fa-map-marker-alt"></i> California, TX 70240
                            </li>
                            <li>
                                <i class="fas fa-envelope-open"></i> Info@gmail.com
                            </li>
                            <li>
                                <i class="fas fa-phone"></i> +123 456 7890
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 bar-btn text-right">
                    <a href="{{ path('loginDoctor') }}">Vous êtes praticien ?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->