{% extends 'TemplateAdmin/layout.html.twig' %}

{% block title %}RDV{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header justify-content-between d-flex align-items-center">
                    <h4 class="card-title">Coproprite</h4>
                </div><!-- end card header -->
                <form action="" method="post">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="mb-3 row">
                                    <label asp-for="nom" class="col-md-2 col-form-label">Date Rdv</label>
                                    <div class="col-md-10">
                                        <input class="form-control" name="dateRdv" type="datetime-local" >
                                    </div>
                                </div><!-- end row -->

                            </div>
                            <div class="col-xl-12">
                                <button type="submit" class="btn btn-primary">Valider</button>
                            </div>
                        </div>
                    </div><!-- end col -->

                </form>
            </div><!-- end row -->
        </div><!-- end card body -->
    </div>
</div>
{% endblock %}